<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <h3 class="text-muted">nftv1</h3>
</div>

<div class="jumbotron">
  <h2>THEKACKIEPROJECT NFT - CHARLESTON</h2>
  <h4>Not For Tourists - Charleston</h4>
  <p class="lead">
    <img src="images/aftershowernyc.jpg" alt="I'm The Grim Reaper"><br><br>
    
  </p>
  <p><a class="btn btn-lg btn-default" ng-href="#">GET IT ON!</a></p>
</div>

<div class="row marketing">
  <h4></h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div>

<div class="footer">
  <p>♥ THEKACKIEPROJECT</p>
</div>
